<!DOCTYPE html>
<html>
<head>
	<title>Add New Author</title>
</head>
<body>
	<h1>Add New Author</h1>
	<form method="POST" action='/authors/new'>
	Name: <input type='text' name='name'>
	<br>
	<br>
	<input type='submit' value='Submit New Author'>
	</form>
</body>
</html>